<div [class.loader-hidden]="!show">
  <div class="loader-overlay">
          <div>
            <mat-progress-bar mode="indeterminate" *ngIf="show"></mat-progress-bar>
          </div>
  </div>
</div>
<mat-toolbar color="primary" *ngIf="(auth.user | async)">
    <mat-toolbar-row>
      <span class="logo-header"><img src="assets/asincal-logo.png" height="100px"/></span>
  
      <span class="example-spacer"></span>
      
      <a mat-button routerLink="/" >Dashboard</a>
      <a mat-button routerLink="/usuarios" >Usuarios</a>
      <a mat-button routerLink="/establecimientos" >Establecimientos</a>
      <button mat-button>Contact</button>
      <button mat-button (click)="auth.signOut()">Cerrar Sesión</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar color="primary" *ngIf="!(auth.user | async)">
      <mat-toolbar-row>
        <span>Asincal</span>
    
        <span class="example-spacer"></span>
        
        <button mat-button>Registro</button>
        <button mat-button>Login</button>
      </mat-toolbar-row>
    </mat-toolbar>
    
<router-outlet></router-outlet>

<div *ngIf="notify.msg | async as msg" class="notification"
        [ngClass]="{ 
                     'is-danger': msg.style == 'error',
                     'is-success': msg.style == 'success',
                     'is-info': msg.style == 'info'
                    }">
     
     <button class="delete" (click)="notify.clear()"></button>
     {{ msg.content }}
 </div>
